doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    style.
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      body {
        background: black url(/public/img/hal_9000.jpg) center center no-repeat;
      }
  body
    script(src='/node_modules/socket.io-client/socket.io.js')
    script(src='/public/js/client.js')

